@import 'nib'
@import 'normalize'

// Variables 
$color-cliente = #3c70a9;
$ancho-template = 980px
///////////////////////////////////////////////////////

body
  margin 0
  font-family "Trebuchet MS", Arial, Verdana, sans-serif
  font-size 11px
  background-color white
  color black
  text-align left
  #oa-wrapper
    background url(/clientes/unreal/_templates/oaaction2/_images/wrapper_background.png)
  #oa_body_simple
    background url(/templates/oaaction2/_images/back_ffffff_50.png) repeat scroll 0 0 transparent
    margin 0 auto
    width $ancho-template

form
  display inline

title
  background-color #cccccc
  color black

img
  border 0

acronym
  text-decoration underline
  font-variant small-caps
  cursor help
  border 0

input, select, textarea
  font-family "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif
  border 1px solid #666
  background-color white
  vertical-align middle
  text-decoration none
  font-size 9pt

textarea
  font-size 11px
  border 1px solid $color-cliente
  &.txtareatipoc
    background url(/ag_images/symbols/input_txt_porque.gif) no-repeat top left
    border 0
    color #387dda
    font-family "Trebuchet MS",Arial,Verdana,sans-serif
    font-size 9pt
    height 90px
    padding-bottom 0
    padding-left 20px
    padding-top 9px
    width 100%

input[type="text"], input[type="password"]
  color #666666
  font-size 9pt
  background-color #efefef

input[type="button"], input[type="submit"], input[type="image"], input[type="reset"]
  font-size 9pt
  font-weight bold
  cursor pointer
  background transparent url(/ag_images/buttonshadow.png) repeat-x scroll left bottom
  border 1px solid black

input[type="radio"], input[type="checkbox"],input.radio
  border 0

input
  &.txtdescripcion
    background url(/ag_images/symbols/input_txt_descripcion.gif) no-repeat top left
    border 0
    color #387dda
    font-family "Trebuchet MS",Arial,Verdana,sans-serif
    font-size 9pt
    height 26px
    padding-bottom 0
    padding-left 18px
    padding-top 9px
  &.txtfinicio
    background url(/ag_images/symbols/input_txt_fechainicio.gif) no-repeat top left
    border 0
    color #387dda
    font-family "Trebuchet MS",Arial,Verdana,sans-serif
    font-size 9pt
    height 26px
    padding-bottom 0
    padding-left 18px
    padding-top 9px
    width 80px
  &.txtuser
    background url(/ag_images/symbols/input_txt_user.gif) no-repeat top left
    border 0
    color #387dda
    font-family "Trebuchet MS",Arial,Verdana,sans-serif
    font-size 9pt
    height 26px
    padding-bottom 0
    padding-left 18px
    padding-top 9px
    width 80px
  &.txtpass
    background url(/ag_images/symbols/input_txt_pass.gif) no-repeat top left
    border 0
    color #387dda
    font-family "Trebuchet MS",Arial,Verdana,sans-serif
    font-size 9pt
    height 26px
    padding-bottom 0
    padding-left 18px
    padding-top 9px
    width 80px
  &.txtffin
    background url(/ag_images/symbols/input_txt_fechafin.gif) no-repeat top left
    border 0
    color #387dda
    font-family "Trebuchet MS",Arial,Verdana,sans-serif
    font-size 9pt
    height 26px
    padding-bottom 0
    padding-left 18px
    padding-right 5px
    padding-top 9px
    width 80px

button
  overflow visible
  padding 1px 5px
  width auto
  &.no_button
    background transparent
    border 0
    cursor pointer

a
  color black
  font-size 12px
  font-weight bold
  text-decoration none
  &:visited,&:hover
    color black
  &:focus, &:active
    text-decoration none

.linkArticle
  cursor pointer
  &:hover
    background-color #cecece
    cursor pointer

#listoax
  list-style-type none
  margin-top 10px
  margin 0
  padding 2px
  width 100px
  li
    border 1px solid #666666
    cursor move
    margin-bottom 4px
    margin 0
    padding 1px

#producto
  a
    color white
    &:hover
      text-decoration underline

.login_sub
  padding 3px 3px 0 0
  text-align right
  vertical-align top

.login_opciones
  float right
  padding 40px 5px 0 0
  text-align right

h1
  &.classtitle
    font-size 14px
    font-weight bold
    text-align right

#header
  margin 0 auto 0 auto
  width 750px
  h1
    font-family "Trebuchet MS",Verdana,"Arial Narrow", Arial, sans-serif
    font-size 20px
    font-weight normal
    margin-bottom 0
    margin 0
    padding 5px 0 0 0
    text-align right
  h2
    background-color white
    border-bottom 1px solid #eeeeee
    color black
    font-family "Trebuchet MS",Verdana,"Century Gothic",  "Arial Narrow", Arial, sans-serif
    font-size 15px
    font-weight normal
    margin 0
    padding 0
    text-align left
    text-transform lowercase
  h4
    background-color white
    color black
    font-family "Trebuchet MS",Verdana,sans-serif
    font-size 11px
    font-weight normal
    margin 0
    padding 0
    text-align left
    text-transform lowercase

#content
  margin 0 auto 0 auto
  text-align left
  width 720px

.introduction
  background-color white
  background-position bottom right
  background-repeat no-repeat
  color black
  font-family "Trebuchet MS",Verdana,"Lucida Grande","Lucida Sans Unicode", Helvetica, Arial, sans-serif
  font-size 11px
  padding-bottom 1px
  padding-left 0
  padding-right 0
  padding-top 0
  text-align justify
  text-indent 25px

#mainbar
  font-size 11px
  margin-bottom 0
  margin-left 5px
  padding-left 5px
  text-align justify
  vertical-align top
  h1
    border-bottom 1px solid #eeeeee
    border-top 2px
    color black
    font-family "Trebuchet MS",Verdana,"Arial Narrow", Arial, sans-serif
    font-size 18px
    font-weight normal
    padding 14px 0 0 0
  p
    line-height 15px
    padding-top 0
  .articleimg
    border 1px solid #eeeeee
    float left
    margin-bottom 20px
    margin-right 20px
    margin-top 20px
    padding 5px

.logo
  margin-left 20px
  position relative
  right 7px
  top 7px

.clearer
  clear both

#sidebar
  background-color white
  color black
  font-size 95%
  text-align left
  width 165px
  h1
    background-color white
    border-bottom 1px solid #eeeeee
    color black
    font-family "Trebuchet MS",Verdana,"Trebuchet MS", "Arial Narrow", Arial, sans-serif
    font-size 15px
    font-weight bold
    text-align left

.submenu
  a
    background-image url(/templates/oaaction2/_images/submenua.gif)
    background-position right
    background-repeat no-repeat
    display block
    padding-right 0
    padding 5px
    width 100%
    &:hover
      background-color #eeeeee
      background-image url(/templates/oaaction2/_images/submenua_hover.jpg)
      background-repeat repeat-y
      color black
  .child
    font-weight normal
    text-align left

.portfoliothumb
  border 0
  float left
  padding-top 20px

.portfolio
  margin-left 70px

.pane
  display none

td
  &.tabs
    border-bottom 1px solid #020201
    border-left 1px solid #020201
    border-right 1px solid #020201
    border-top 1px solid #020201
    cursor pointer

div
  &.tabs
    background-color #ffe5c8
    color black
    cursor pointer

#a_green
  color green

#a_red
  color red

th
  #a_white
    color white

.tr_blue, .td_blue
  color blue

.tr_orange, .td_orange
  color #FF9933

.tr_green, .td_green
  color green

.td_red
  color red

.tr_yellow
  color #cccc00


#div_comment
  border 1px solid $color-cliente

caption
  font-family "Trebuchet MS",Arial,Verdana,sans-serif
  font-size 14px
  font-weight bold
  text-align left

.OA_AJAXTABLE_OA, #OA_AJAXTABLE_OA
  border-collapse collapse
  border-spacing 1px
  img
    border 0
    padding 0
  a
    padding 0
  td
    border 1px solid #dfdfdf
  th
    background-color $color-cliente
    border 1px solid #efefef
    color white
    text-align center
  tr
    background white
  &:hover
    background #efefef

.OA_AJAXTABLE0_OA, #OA_AJAXTABLE0_OA
  border-collapse collapse
  border-spacing 1px
  img
    border 0
    padding 0
  a
    padding 0
  td
    border 1px solid #dfdfdf
  th
    background-color $color-cliente + 10%// #3b6aca
    border 1px solid #efefef
    color white
    text-align center
  tr
    background white
  &:hover
    background #efefef

.OA_AJAXTABLE1_OA, #OA_AJAXTABLE1_OA
  border-collapse collapse
  border-spacing 1px
  img
    border 0
    padding 0
  a
    padding 0
  td
    border 1px solid #dfdfdf
  th
    background-color $color-cliente + 20% // #6c8fd7
    border 1px solid #efefef
    color white
    text-align center
  tr
    background white
  &:hover
    background #efefef

.OA_AJAXTABLE2_OA, #OA_AJAXTABLE2_OA
  border-collapse collapse
  border-spacing 1px
  img
    border 0
    padding 0
  a
    padding 0
  td
    border 1px solid #dfdfdf
  th
    background-color $color-cliente + 30% // #9db5e5
    border 1px solid #efefef
    color white
    text-align center
  tr
    background white
  &:hover
    background #efefef


hr
  &.light
    border-bottom 1px solid #efefef
    border-top 1px solid #ccc
    height 2px
    width 100%

.swiftfieldset
  border-radius 4px
  border 1px solid #cccccc
  font 11px Verdana, Tahoma
  margin-bottom 6px
  margin-right 10px
  padding 4px
  legend
    color #267ddc
  .diffError
    color red

table
  font-family "Trebuchet MS",Arial,Verdana,sans-serif
  font-size 11px

legend
  &.handle
    cursor move

.inputNONE

.niceS
  a
    color #4a4a4f
    font-weight normal
    font 9px Verdana, Tahoma
    padding-left 12px
    text-decoration none
    &:hover
      background transparent url(/ag_images/symbols/flecha.gif) no-repeat
      color #4a4a4f
      font-weight normal
      font 9px Verdana, Tahoma
      padding-left 12px
      text-decoration underline

body
  background url(/clientes/unreal/_templates/oaaction2/_images/body_background.png) white
  font-family "Trebuchet MS",Verdana,"Arial Narrow",Arial,sans-serif
  font-size 12px

#oa_main
  background white
  margin 0
  padding 20px 10px 10px 10px
  width $ancho-template
  #oa_header
    background white
    display block
    width 100%
  #oa_menu
    background $color-cliente url(/clientes/unreal/_templates/oaaction2/_images/menu_background.png) repeat-x
    color white
    display block
    height 30px
    margin-bottom 10px
    width 100%
    td
      vertical-align middle
    button
      height 28px
      padding 0 5px
    .login_sub
      padding 0 5px
    .menu_nivel0
      color white
      font-weight bold
  #oa_principal
    background white
    display block
    width 100%
    #mainbar
      margin 0
      padding 0
    #oa_principal_titulares
      height 440px
      table, tbody, tr, td
        vertical-align top
      .oa_principal_noticia
        background white
        border-right 10px solid white
        height 440px
        width 730px
      .oa_banner
        background white
        width 240px
    #header
      display none
    #oa_terciaria
      background white
      border-bottom 1px dotted white
      border-top 1px dotted white
      display block
      padding 15px 0
      width 100%
      table
        width 100%
      .oa_banner
        background white
        border-bottom 5px solid white
        border-left 1px dotted white
        border-top 5px solid white
        height 215px
        text-align center
        width 240px
      .oa_banner_primero
        border-left 5px solid white

#oa_footer
  display block
  text-align center
  width $ancho-template

.oa_login
  float right
  font-weight bold
  position relative
  text-align right
  top -179px
  width $ancho-template
  a
    color black

.oculto
  display none

.negrita
  font-weight bold

.bandera_idioma
  box-shadow 0 0 0.5em rgba(255, 255, 255, 0.5)

div#menu
  ul
    li
      a
        background transparent url(/clientes/unreal/_templates/oaaction2/_images/top_navigation_separator.png) no-repeat scroll 0 0
  li
    span
      color white
      &.bg
        background transparent url(/clientes/unreal/_templates/oaaction2/_images/menu_level1_item.png) repeat-x scroll 0 100%
        display block
        float left
        height 30px
        padding 0
        position relative
        z-index 5

@media print
  .printable
    display block
  .noprintable
    display none
  #oahm,#oahm1, #header, #footer, .tabcontainer
    display none
  #resumen_evaluacion .OA_AJAXTABLE_OA, #resumen_evaluacion #OA_AJAXTABLE_OA
    font-size 16px
    page-break-after always
  #mainbar
    h1 
      font-size 48px
      border-bottom #333333 solid 1px
        