body
    color black
    margin 1em
    font-size 16px

p.redondeado
    background red
    border 0.1em solid black
    border-radius 0.5em
    font-size 32px
    &:hover
        border 0.1em red solid
        color green
