@import 'nib'
@import 'normalize'

// Variables
$font-size-principal = 16px
$color-texto = orange

// Mixins
// border-radius(n)
//     -webkit-border-radius n
//     -moz-border-radius n
//     -o-border-radius n
//     -ms-border-radius n
//     border-radius n
//////////////////////////////

body
    color $color-texto
    margin 1em
    font-size $font-size-principal

p
    border 0.2em dotted black
    padding 0.3em 2em
    transition: all 1000ms
    &.redondeado
        background blue
        border 0.2em solid black
        border-radius 4em
        font-size ($font-size-principal * 2)
        &:hover
            border 0.2em red solid
            border-radius 0
            color (($color-texto - 30%) + 60deg)
