body {
  color: #000;
  margin: 1em;
  font-size: 16px;
}
p.redondeado {
  background: #f00;
  border: 0.1em solid #000;
  border-radius: 0.5em;
  font-size: 32px;
}
p.redondeado:hover {
  border: 0.1em #f00 solid;
  color: #008000;
}
