@import 'nib'
@import 'normalize'

body
    font-size 16px

.redondeado
    background red
    border 0.1em solid black
    border-radius 0.5em
    color black
    &:hover
        border 0.1em red solid
